body{
	color: #333332;
	background:#FFFDF2;
}

@media (min-width: 1000px) {
	section#bar{
		background:#37D7E6;
		height: 100%;
	    left: 0;
	    top: 0;
	    max-width: 500px;
	    position: fixed;
	    width: 28%;
	    border-right: 0.2px solid #F8F8F8;
	}

	#bar-content{
		position: absolute;
		bottom:0;
	}

	.wrapper{
		margin-left:36%;
		max-width: 640px;
		overflow: hidden;
		padding-top: 50px;
		width:58%;

	}

	#myname{
		padding-left: 30px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight:200;
		font-size: 65px;
		margin-bottom:20px;
		
	}

} /*end of media query for bigger screens*/

@media (max-width: 999px) {

	section#bar{
		background:#37D7E6;
		width: 100%;
	    left: 0;
	    top: 0;
	    position: fixed;
	}

	.wrapper{
		margin-top:200px;
		max-width: 640px;
		overflow: hidden;
		/*padding-bottom: 50px;*/
		padding-top: 10px;
		width:98%;

	}

	#myname{
		padding-left: 30px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight:200;
		font-size: 45px;
		
	}
}/*end of media query for small screen*/

#myname > a {
	color: #FFFDF2;
	text-decoration: none;
}
hr{
	margin-top:10%;
	margin-bottom:10%;
}

.content-wrapper{
	margin-bottom: 55px;
}


.content{
	border-bottom: 1px solid #F2F2F0;
	display:block;
	padding-bottom:30px;
	padding-top:30px;
	word-wrap: break-word;
	transition:opacity 2s linear 0s;


}

.content-post > a {
	text-decoration: none;
	/*padding:1%;*/
	margin-bottom:0;
}

.content-title {
  	color:#D24949;
	font-family: 'Source Sans Pro',sans-serif;
	font-size: 34px;
	font-weight: 200;
}

.content-title > a{
	text-decoration: none;
	color:#37D7E6;
}

.content-title > a:visited{
	color:#D24949;
}

.content-date{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	margin-left:2%;
	font-weight: 200;
}
p {
	width:96%;
	font-family:'PT Serif', sans-serif; 
	/*font-family: 'Source Sans Pro',sans-serif;*/
	font-size:18px;
	line-height: 25.2px;
	font-weight: 200;
	color: #333332;
	/*color:black;*/
}

p > img{
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 4px;
  	background-color: #fff;
  	border: 1px solid #ccc;
  	border: 1px solid rgba(0, 0, 0, 0.2);
  	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

img.middle { 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
}

img.left { 
	display: block; 
	margin-right: auto; 
}

img.right { 
	display: block; 
	margin-left: auto; 
}

.img-circle {
  -webkit-border-radius: 500px;
     -moz-border-radius: 500px;
          border-radius: 500px;
}

.img-circle:hover{
  animation-duration: 1s;
  animation-name: buzz;
}

@keyframes buzz{
	from{
		transform:rotate(-5deg);
	-ms-transform:rotate(-5deg); /* IE 9 */
	-moz-transform:rotate(-5deg); /* Firefox */
	-webkit-transform:rotate(-5deg); /* Safari and Chrome */
	-o-transform:rotate(-5deg); /* Opera */

	}
	50%{
			transform:rotate(5deg);
	-ms-transform:rotate(5deg); /* IE 9 */
	-moz-transform:rotate(5deg); /* Firefox */
	-webkit-transform:rotate(5deg); /* Safari and Chrome */
	-o-transform:rotate(5deg); /* Opera */
	}
	to{
			transform:rotate(0deg);
	-ms-transform:rotate(0deg); /* IE 9 */
	-moz-transform:rotate(0deg); /* Firefox */
	-webkit-transform:rotate(0deg); /* Safari and Chrome */
	-o-transform:rotate(0deg); /* Opera */
	}
}


img.about{
	padding:10%;
}


table { 
	border-collapse: collapse;
	margin-top:20px;

}

td {
	vertical-align: top;
}

td >img{
	margin-top:10px;	
	margin-left:-10px;
}

td > p {
	margin-left: 10%;
	width:80%;
}

.contact > table{
	width:100%;
}

.formbox{
	padding: 15px 20px;
	background-color: rgb(240, 240, 240); 
	-webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

form > label {
	font-family:'PT Serif', sans-serif; 
	font-size:1em;
	color: #D24949;
}

input{
	color: #4D4D4D;
	font-family:'PT Serif', sans-serif; 
	font-size:14px;
	border: 0px solid transparent;
	margin-top:4px;
	margin-bottom:4px;
}

input:focus {
	color: #333333;
	border: 2px solid #D24949;
}

textarea{
	color: #4D4D4D;
	font-family:'PT Serif', sans-serif; 
	font-size:14px;
	line-height: 23px;
	border: 0px solid transparent;
	margin-top:4px;
	margin-bottom:4px;
}

textarea:focus {
	color: #333333;
	border: 2px solid #D24949;
}

.smiley{
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-moz-transform:rotate(90deg); /* Firefox */
	-webkit-transform:rotate(90deg); /* Safari and Chrome */
	-o-transform:rotate(90deg); /* Opera */
}

.error404{
	font-size:7em;
	color:#D24949;
	font-family: 'PT Serif', sans-serif;
	line-height: 100px; 
	text-align:center;"
}


.more-button {
	display:inline-block;
	height: 40px;
	width: 50px;
	/*-webkit-border-radius: 40px;
     -moz-border-radius: 40px;
          border-radius: 40px;*/
	background: #37D7E6;
	font-size:40px;
	padding-bottom: 10px;
	text-align: center;
	font-family: 'Source Sans Pro';
	font-weight: 200;
	text-decoration: none;
	color: #F8F8F8;
}

.to-show{
	display:none;
	background: #37D7E6;
	color: #F8F8F8;
	font-family: 'Source Sans Pro';
	font-size:40px;
	font-weight: 200;
	padding-left:20px;
	padding-right:20px;
}
.more-button:hover + .to-show{
	display:inline-block;
}