<!DOCTYPE HTML>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Sourav Goswami</title>
	<meta name="viewport" content = "width=device-width, intial-scale=1.0">
	<meta name="author" content="Sourav Goswami"/>
	<meta name="description" content="An undergraduate in computer science from Bengal Engineering and Science University
					BESU, Shibpur.Likes breaking and making stuff.This is where he rants"/>
	
	<link  href="stylesheets/homepage.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
  
</head>

<body>
	<div class="container" >
		<div class="top-links">
			<ul>
				<li class="active"><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/blog">Blog</a></li>
			</ul>
		</div>
		<div class="title">SOURAV GOSWAMI</div>
		<div class="content-wrapper">
			<div class="error404">
				ಠ_ಠ
			</div>
			
		</div>
	</div>

</body>


</html>
