<!DOCTYPE HTML>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Sourav Goswami</title>
	<meta name="viewport" content = "width=device-width, intial-scale=1.0">
	<meta name="author" content="Sourav Goswami"/>
	<meta name="description" content="An undergraduate in computer science from Bengal Engineering and Science University
					BESU, Shibpur.Likes breaking and making stuff.This is where he rants"/>

	<link href="stylesheets/homepage.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
  
</head>

<body>
	<div class="container" >
		<div class="top-links">
			<ul>
				<li><a href="/">Home</a></li>
				<li class="active"><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/blog">Blog</a></li>
			</ul>
		</div>
		
		<div class="title">SOURAV GOSWAMI</div>

		<div class="content-wrapper">
			<div class="content-meta">
				<span class ="content-title">
					ABOUT
				</span>
			<table>
				<tr>
					<td>
					<img src="/images/me.jpg" class="img-circle about">
					</td>
					<td>
					<p>	
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel dolor in lorem malesuada hendrerit sed sit amet quam. Nunc pretium, odio non ultricies congue, libero libero suscipit eros, cursus congue nulla mauris id ipsum. Pellentesque augue magna, sodales in accumsan a, consectetur vitae tortor. Donec ut iaculis nisi. Nullam nec neque aliquam dolor pellentesque scelerisque. Phasellus nec est arcu, quis ornare ligula. Vestibulum ante ipsum primis in faucibus orci
					</p>
					</td>
				</tr>
			</table>
		</div> <!--content wrapper ends here!-->

	</div>

</body>


</html>
