<!DOCTYPE HTML>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Sourav Goswami</title>
	<meta name="viewport" content = "width=device-width, intial-scale=1.0">
	<meta name="author" content="Sourav Goswami"/>
	<meta name="description" content="An undergraduate in computer science from Bengal Engineering and Science University
					BESU, Shibpur.Likes breaking and making stuff.This is where he rants"/>

	<link href="stylesheets/homepage.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'>
  
</head>

<body>
	<div class="container" >
		<section id="bar">
				<div id="bar-content">
					<h1 id="myname"><a href = "/">Sourav</a><br><a href = "/">Goswami</a></h1>
				</div>
		</section>
		
		<section class="wrapper">
		<div class="content-wrapper">
			<div class="content-meta">
				<span class ="content-title">
					
				</span>
			</div>
			<div class="content-post contact">
				<table>
					<tr>
						<td>
						<img src="/images/me.jpg" class="img-circle about">
						</td>
						<td>
						<p>	
							Just another computer Science undergraduate. <br>
							Currently studying in BESU, Shibpur, India.<br>
							Send me a comment. Let me know what you like and/or what you don't. I probably won't change anything based on what you say, but complaining is a cathartic experience. 
						</p>
						</td>
					</tr>
				</table>
        	
		</div>
	</section>
	</div>

</body>


</html>
