<!DOCTYPE HTML>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Sourav Goswami</title>
	<meta name="viewport" content = "width=device-width, intial-scale=1.0">
	<meta name="author" content="Sourav Goswami"/>
	<meta name="description" content="An undergraduate in computer science from Bengal Engineering and Science University
					BESU, Shibpur.Likes breaking and making stuff.This is where he rants"/>

	<link href="stylesheets/homepage.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  
</head>

<body>
	<div class="container" >
		<section id="etc">
			<div class="cover-body">
				<div class="cover-body-inner">
					<h1 id="myname">Sourav<br>Goswami</h1>
					<ul id="nav_secondary" class="clearfix">
						<li><a class= "buttonize" href="/">Home</a></li>
						<li><a class= "buttonize" href="/about">About</a></li>
						<li class="active"><a href="/contact" class= "buttonize">Contact</a></li>
						<li><a href="/blog" class= "buttonize">Writings</a></li>
					</ul>
				</div>
			</div>
		</section>
		
		<section class="wrapper">
		<div class="content-wrapper">
			<div class="content-meta">
				<span class ="content-title">
					
				</span>
			</div>
			<div class="content-post contact">
				<table>
					<tr>
						<td>
						<img src="/images/me.jpg" class="img-circle about">
						</td>
						<td>
						<p>	
							Just another computer Science undergraduate. <br>
							Currently studying in BESU, Shibpur, India.<br>
							Send me a comment. Let me know what you like and/or what you don't. I probably won't change anything based on what you say, but complaining is a cathartic experience. 
						</p>
						</td>
					</tr>
				</table>
				<p>
					
				</p>
<!-- 				<hr> -->
				<p>
					Fire a mail to sourav@souravgoswami.com, or find me in one of these places
				</p>
				<br>
				<span class ="content-title">
					
				</span>
				<table>
					<tr align="center">
						<td>
			        		<a  href="https://plus.google.com/112383595984506575124" style="text-align:center;">
			        			<img src="/images/plus.jpg" class="img-circle" height=64 width=64 alt="Google Plus" title="Google Plus">
			        		</a>
			        	</td>
			        	<td>
			        		<a href="https://github.com/gosour">
			        			<img src="/images/octo.png" class="img-circle" height=64 width=64 alt="Github" title="GitHub">
			        		</a>
			        	</td>
			        	<td>
			        		<a href="http://www.goodreads.com/user/show/11074120-sourav-goswami">
			        			<img src="/images/goodreads.png" class="img-circle" height=64 width=64 alt="Goodreads" title="Goodreads">
			        		</a>	
			        	</td>
			        </tr>
			    </table>
			</div>
        	
		</div>
	</section>
	</div>

</body>


</html>
