<!DOCTYPE HTML>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Sourav Goswami</title>
	<meta name="viewport" content = "width=device-width, intial-scale=1.0">
	<meta name="author" content="Sourav Goswami"/>
	<meta name="description" content="An undergraduate in computer science from Bengal Engineering and Science University
					BESU, Shibpur.Likes breaking and making stuff.This is where he rants"/>

	<link href="stylesheets/homepage.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
  
</head>

<body>
	<div class="container" >
		<div class="top-links">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li class="active"><a href="/contact">Contact</a></li>
				<li><a href="/blog">Blog</a></li>
			</ul>
		</div>
		
		<div class="title">SOURAV GOSWAMI</div>

		<div class="content-wrapper">
			<div class="content-meta">
				<span class ="content-title">
					CONTACT
				</span>
			</div>
			<div class="content-post contact">
				<p>
					Send me a comment. Let me know what you like and/or what you don't. I probably won't change anything based on what you say, but complaining is a cathartic experience. Look forward to hearing from you.
				</p>
				<div class="formbox">	
					<form>
						<label> Your Name <br>
							<input type="text" name="sender_name">
						</label><br>
						<label> Your email <br>
							<input type="text" name="sender_email">
						</label><br>
						<label>	Your Subject <br>
							<input type="text" name="sender_subject">
						</label><br>
						<label> Your Message<br>
							<textarea name="sender_message" style="height: 100px; width: 400px;">
							</textarea>
						</label>
					</form>
				</div>
				<br>
				<span class ="content-title">
					SOCIAL:
				</span>
				<table>
					<tr align="center">
						<td>
			        		<a  href="https://plus.google.com/112383595984506575124" style="text-align:center;">
			        			<img src="/images/plus.jpg" class="img-circle" height=64 width=64 alt="Google Plus" title="Google Plus">
			        		</a>
			        	</td>
			        	<td>
			        		<a href="https://github.com/gosour">
			        			<img src="/images/octo.png" class="img-circle" height=64 width=64 alt="Github" title="GitHub">
			        		</a>
			        	</td>
			        	<td>
			        		<a href="http://www.goodreads.com/user/show/11074120-sourav-goswami">
			        			<img src="/images/goodreads.png" class="img-circle" height=64 width=64 alt="Goodreads" title="Goodreads">
			        		</a>	
			        	</td>
			        </tr>
			    </table>
			</div>
        	
		</div>
	</div>

</body>


</html>
