<!DOCTYPE HTML>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Sourav Goswami</title>
	<meta name="viewport" content = "width=device-width, intial-scale=1.0">
	<meta name="author" content="Sourav Goswami"/>
	<meta name="description" content="An undergraduate in computer science from Bengal Engineering and Science University
					BESU, Shibpur.Likes breaking and making stuff.This is where he rants"/>
	
	<link  href="stylesheets/homepage.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'>
  
</head>

<body>
	<div class="container" >

		<section id="bar">
				<div id="bar-content">
					<h1 id="myname"><a href = "/">Sourav</a><br><a href = "/">Goswami</a></h1>
				</div>
		</section>

		<section class="wrapper">
			<div class="content-wrapper">
				
				{% for blog in blogs %}

				<div class="content" class="active">
					<div class = "content-meta">
						<span class ="content-title">
							{{blog.subject}}
						</span>
						<span class = "content-date">
							{{blog.created}}
						</span>
					</div>
					<p class="content-post">
						{{blog.content | safe}}
					</p>
				</div>

				{% endfor %}

			</div><!--end of content wrapper -->
			<section id="bottom">
				<div class="bottom-content">
					<a href="/collection" class="more-button">+</a><span class="to-show">Read More like this</span>
				</div>
			</section>
		</section>
	
	</div>

</body>


</html>
